body{
    position: relative;
    color: white;
    font-family: nanumgothic, poppinsregular;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
}

body::after {
    content: "";
    background-image: url(../assets/img/backz.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.8; 
    z-index: -1;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#title{
    flex-direction: column;
    line-height: 10px;
}

li{
    display: inline-block;
    margin: 20px;
}

a{
    color: white;
}

a:hover{
    color: rgb(14, 214, 204);
    transition: 0.3s all;
}

#inscreva-se-btn{
     border: 2px solid rgb(14, 214, 204);
     padding: 10px;
     border-radius: 15px;
}

#inscreva-se-btn:hover{
    background-color: rgb(14, 214, 204);
    color: white;
}

h1{
    font-weight: 200;
    font-family: 'Archivo Black', sans-serif;

}

main{
    float: right;
    display: flex;
    flex-direction: row;
    margin-top: 50px;

}

h2{
    font-size: 56px;
    line-height: 10px;
    font-family: poppinsmedium;
}

span{
    color: rgb(14, 214, 204);
    font-family: 'Archivo Black', sans-serif;
}

.bank{
    color: grey;
}

p{
    line-height: 20px;
    max-width: 500px;
    font-family: poppinsmedium;
}

img{
    width: 580px;
}

form{
    display: flex;
    flex-direction: column;
    width: 70%;
}

form [type="submit"]{
    height: 50px;
    width: 50%;
    background-color: rgb(14, 214, 204);
    color: white;
    font-weight: bold;

}

form [type="submit"]:hover{
    cursor: pointer;

}

input{
    margin-top: 20px;
    height: 20px;
    padding: 15px;
    border-radius: 20px;
    border: none;
    font-size: 15px;
}

#assunto{
    border-radius: 20px;
}

.logo{
    display: flex;
    flex-direction: column;
    width: 75px;
}

aside {
    margin-right: 30px; 
    margin-left: 30px; 
}

article {
    margin-right: 30px; 
    margin-left: 30px; 
}

#p2art{
    color: white;
    font-family: 'Archivo Black', sans-serif;
}
#foto{
    color: rgb(14, 214, 204);
    font-family: 'Archivo Black', sans-serif;
}
#foto:hover{
    background-color: rgb(129, 52, 175);
    font-family: 'Archivo Black', sans-serif;
    color: white;
}